
.box-container{
display: flex; 
flex-direction: column;
margin-top: 5rem;
justify-content: center;
align-items: center;
}
.search-tags{
  margin-top: 3rem;
}
.input-tag{
list-style-type: none;
outline: none;
}
.Selectors{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.Selectors input{
  margin: 1.5rem;
  color: blue;
}
.btn{
  background-color: blue;
  border-radius: 3px;
  color: aqua;
}
.Down-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.btn-reset{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.ans{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.ans_found{
  color: green;
}
.ans_notfound{
  color: red;
}
.Array{
   display: grid;
  grid-template-columns: 100px 100px 100px 100px; 
  grid-template-row: 100px;
  box-shadow:7px 7px 7px 7px white;
}
.elements{
width: 100px;
height: 92px;
background-color: white;
border: 2.5px solid black;
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5rem;
color: black;
}
.elements:last-child{
  /* background-color: brown; */
}
*{
margin: 0;
padding: 0;
}
body{
background-color:aliceblue;
}